.calculator {
    width: clamp(280px, 12vw, 320px);
    height: clamp(320px, 36vh, 520px);

    display: flex;
    flex-direction: column;

    background: rgb(255, 255, 255);
    border: solid 3px rgb(90 167 255 / 70%);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}