.display {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 0.5rem;
    text-align: right;

    background-color: rgb(60 83 103);
    color: rgb(227, 230, 238);

    box-shadow: inset 0 0 6px rgba($color: #000000, $alpha: 0.1);

    .operation {
        font-size: 1.2rem;
        font-weight: 500;
        border-bottom: solid 1px rgb(206 214 222 / 15%);

        padding: 0.5rem;
    }

    .result {
        font-size: 2rem;
        font-weight: 500;
        padding: 0.5rem;
    }
}